<?xml version = '1.0' encoding = 'UTF-8'?>
<!DOCTYPE suite SYSTEM 'http://testng.org/testng-1.0.dtd'>
<suite name = 'Suite 1'>
	<test name = 'TestAll' preserve-order = 'true'>
		<!--<classes> 
			<class name = 'org.sandbox.userifc_java.curses.NewTest'/> 
		</classes>-->
		<packages>
			<package name = 'org.sandbox.userifc_java.curses'/>
		</packages>
	</test>
</suite>
